/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.nav-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    box-shadow: 0px 2px 15px rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    
   
 
 
}
.nav-center h4{
    font-size: 24px;
    color: rgb(5, 196, 196);
    letter-spacing: 2px;
    font-weight: 500;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 20%;
   
}

li{
    list-style: none;
    margin-left: 14px;
    font-size: 24px;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-weight: 500;

}
.container{
 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 1000px;
    flex-direction: column;
    gap: 20px;
    
}
.container h2{
    background-color: black;
    color: beige;
    font-size: 50px;
    border-radius: 9px;
 padding: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section{
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
   height: 600px;
   flex-wrap: wrap;
}
#btn{
     background-color: transparent;
    width: 220px;
    height:50px;
    border-radius: 9px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

}
#btn:hover{
    cursor: pointer;
    background-color: black;
    color: beige;
    transition: 0.2s;
}
span{
    color: rgb(29, 29, 253);
}
@media only screen and (max-width: 700px) {
    .container h2{
        flex-direction:column;
        justify-content: center;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: center; 
        width: 50%;  
    }
    .container h2 span{
        justify-self: center;
        align-self: center;
    }
  }